<h1>Accounts</h1>

You have <%= Account.open_count %> account registered! :)

<ul>
  <% @accounts.each do |account| %>
    <% unless account.archived? %>
      <li>
        <%= link_to account.title, account %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Account", new_account_path %>
